
@media (max-width: 991px) {

	.sidebar-contact-form button.dropdown-toggle, .menu-left button.dropdown-toggle {
	  display: block;
	}
	.sidebar-contact-form h3, .menu-left .dropdown-menu, .menu-left h3 {
	  display: none;
	}
	.menu-left .open .dropdown-menu {
	  display: block;
	}
	.sidebar-contact-form .nav-collapse-form form {
		padding-top: 10px;
	}

	.menu-left .nav-collapse.collapse, .sidebar-contact-form .nav-collapse-form.collapse  {
	    background: none repeat scroll 0 0 #2E2E2E;
	    height: 0 !important;
	    overflow: hidden !important;
	    position: absolute;
	    right: 0;
	    top: 36px;
	    z-index: 9999;
	}	

	.menu-left .nav-collapse.in, .sidebar-contact-form .nav-collapse-form.in {
	    height: auto !important;
	    overflow: visible !important;
	    clear: both;
	}
	.menu-left .nav-collapse, .sidebar-contact-form .nav-collapse-form {
	    clear: both;
	}	
	.menu-left .btn-navbar, .sidebar-contact-form .btn-navbar  {
	    display: block;
	}
	.menu-left .menu-text:after {
    content: "+ Info";
	}
	.sidebar-contact-form .menu-text:after {
    content: "Contact";
	}
	
	.contenedor-gral .menu-center ol {
		display: none;
	}
	.navbar small a.mail {
	    color: #FFFFFF;
	    display: inline;
	    font-family: 'Raleway',sans-serif;
	    font-size: 12px;
	    line-height: 20px;
	    margin: 0 0 0 3px;
	}
	.navbar small i.fa-envelope {
	    display: inline-block;
	    font-size: 20px;
	    margin: 0 0 0 3px;
	}
	.mail-content {
	    display: inline-block;
	}	

	.contenedor-home .menu-center-bottom img {
	    float: none;
	}		
	.contenedor-listados hr {
    	margin: 0;
	}
	.content-picture {
	    left: 0;
	    margin: 0;
	    width: 100%;
	}
	.sidebar-contact-form.form-especial .nav-collapse-form form {
	    padding-top: 161px;
	}	
	.cabecera h1 {
	    font-size: 60px;
	    bottom: 7%;
	}

	.grid-sizer {
    width: 50%;
	}
	#container .item {
	    width: 50%;
	}
}




@media (max-width: 767px) {

	.items-menu a span, .items-menu a i {
	    display: inline-block;
	    margin: 0 0 0 5px;
	    text-align: left;
	}
	.navbar-nav {
      margin: 0 !important;
      width: 100%;
	}
	.items-menu a span {
	    vertical-align: 13px;
	}	

	.menu li {
	    float: none;
	    width: 100%;
	    margin-bottom: 2px
	}

	.subtitulo {
    margin: 0 70px 0 15px;
    text-align: left;
}
}

@media (max-width: 480px) {

	iframe {
	    min-height: 280px;
	}
	.logo img {
  		width: 128px;
  		height: 82px;
  		margin-top: 5px;
	}


	.cabecera h1 {
	    font-size: 40px;
	    bottom: 3%;
	}



	.grid-sizer {
    width: 100%;
	}
	#container .item {
	    width: 100%;
	}
}

@media (max-width: 320px) {

	iframe {
	    min-height: 179px;
	}

}

