@media (max-width: 995px) {

	.modal-body {
	  max-height: 100%;
	}

}

@media (max-width: 600px) {

	#ouibounce-modal .modal {
	  width: auto;
	  height: 550px;
	  margin: 0 10px; 
	}
} 

@media (max-width: 480px) {

	#ouibounce-modal {
		position: absolute;
	}
	#ouibounce-modal .modal {
	  height: 450px;
	}


} 

@media (max-width: 380px) {

.cookies-overlay {
display: none;
}

.modal-content{
  margin-top: 0px;
  
  }

} 

@media (max-width: 320px) {

	#ouibounce-modal .modal {
	  height: 550px;
	}


} 

