@import url('styles-reisen-blessed2.css');
@import url('styles-reisen-blessed1.css');

.radios-to-slider.color06 .slider-knob {
  background-color: #7c1e4e;
}
.radios-to-slider.color07 .slider-bar {
  background-color: #dd9300;
}
.radios-to-slider.color07 .slider-knob {
  background-color: #aa7100;
}
.radios-to-slider.color08 .slider-bar {
  background-color: #00729c;
}
.radios-to-slider.color08 .slider-knob {
  background-color: #004d69;
}
.fragebogen h4 {
  text-align: left;
}
.fragebogen .radioSlider label {
  font-size: 0.8em;
}
@media (max-width: 767px) {
  .fragebogen .radioSlider label {
    font-size: 0.6em;
  }
}