/* contenedores styles wide
-------------------------------------------------- */
.menu-left {
    left: 0;
    position: absolute;
    top: 0px;
}
.menu-center {
  float: left;
}
.menu-right {
    float: right;
}